@model GasStantion.Models.ContactsInfo


<h2>Контакты</h2>

<div class="contacts-element">
    <img src="~/Images/phone2.png"/>
    <span>@Model.Phone</span>
</div>

<div class="contacts-element">
    <img src="~/Images/address.png"/>
    <span>@Model.Address</span>
</div>

<h3>Карта</h3>
@Html.Raw(Model.YandexMapUrl)