@model GasStantion.Models.UserFeedback

<div class="card">
    <img src="~/Images/user.png" class="card-image"/>
    <div class="stars"> 
        @for (int i = 0; i < Model.Stars; i++)
        {
            <img src="~/Images/star-fill.png" class="star"/>
        }
        @for (int i = 0; i < 5 - Model.Stars; i++)
        {
            <img src="~/Images/star-empty.png" class="star"/>
        }
    </div>
    <div class="title">@Model.UserName</div>
    @Model.Comment
</div>
