@model IEnumerable<GasStantion.Models.FuelPrice>
    
<div class="fueld-price-block">
    <div class="title">
        ПИОНЕР
    </div>
    <div>
        <table>
            @foreach (var fuelPrice in Model)
            {
                <tr>
                    <td class="fuel-name">@fuelPrice.PetroliumName</td>
                    <td class="fuel-price">@fuelPrice.Price</td>
                </tr>
            }
        </table>
    </div>
</div>