@model IEnumerable<GasStantion.ViewModels.FuelPriceListItemViewModel>
    
<div class="fueld-price-block">
    <div class="title">
        ПИОНЕР
    </div>
    <div>
        <table>
            @foreach (var fuelPrice in Model)
            {
                <tr>
                    <td class="fuel-name"><a href="@Url.Action("Type","Fuel", new {id=fuelPrice.Id})">@fuelPrice.FuelName</a></td>
                    <td class="fuel-price">@fuelPrice.Price</td>
                </tr>
            }
        </table>
    </div>
</div>