@model GasStantion.ViewModels.HeaderViewModel


<div class="header">
    <div class="header-content">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 title">
                @Model.Title
            </div>
            <div class="phone col-sm-4">
                <div class="label">Телефон</div>
                <div class="value">@Model.Phone</div>
            </div>
        </div>
    </div>
</div>